<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/Fragments :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    <title>Homepage</title>
</head>
<body>
<header th:replace="fragments/Fragments :: header"></header>
<main>

    <div id="product-container">
        <div th:each="medication : ${medicationList}" id="product-container-detail">
            <a th:href="@{productDetail(medicationId = ${medication.id})}"  id="redirect-to-order-page">
            <div id="product-image">
                <img th:src="${medication.image}">
            </div>
            <div id="product-name">
                <p th:text="${medication.name}"></p>
            </div>
            </a>
        </div>
    </div>

</main>
<footer th:replace="fragments/Fragments :: footer"></footer>
</body>
</html>