<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/Fragments :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}">
    <title>Doctor Registration</title>
</head>
<body>

    <header th:replace="fragments/Fragments :: header"></header>

<main>
    <h1 class="registration-title">Registratie als dokter:</h1>
    <form method="post" th:object="${user}" class="registration-form">
        <table>
            <tr>
                <td>
                    <label class="label" for="username">Gebruikersnaam</label>
                </td>
                <td>
                    <input type="text" id="username" th:field="*{userName}">
                    <p th:if="${usernameMessage}" th:text="${usernameMessage}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label" for="password">Wachtwoord</label>
                </td>
                <td>
                    <input id="password" type="password" th:field="*{password}">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label" for="cpassword">Bevestig wachtwoord</label>
                </td>
                <td>
                    <input id="cpassword" type="password" th:field="*{confirmPassword}">
                    <p th:if="${passwordMessage}" th:text="${passwordMessage}"></p>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label" for="firstname">Voornaam</label>
                </td>
                <td>
                    <input type="text" id="firstname" th:field="*{firstName}">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label" for="lastname">Achternaam</label>
                </td>
                <td>
                    <input type="text" id="lastname" th:field="*{lastName}">
                </td>
            </tr>

        </table>
        <div class="submit-container">
            <input type="submit" value="Verzenden" class="registration-submission">
        </div>
    </form>
</main>
    <footer th:replace="fragments/Fragments :: footer"></footer>
</body>
</html>