<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/Fragments :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/order.css}">
    <title>Orders</title>
</head>
<body>
<header th:replace="fragments/Fragments :: header"></header>
<main>
    <h1 id="order-header">Mijn bestellingen</h1>
    <br/>
    <div th:each="order : ${map}" id="order" th:if="${customer}">
        <div th:text="${order.key.getId()}">keyvalue</div>
        <div id="sold-item" th:each="soldItem : ${order.value}">
            <img th:src="${soldItem.getMedication().getImage()}" class="medication-image"/>
            <div id="id" th:text="'Referentienummer: ' + ${soldItem.getId()}"></div>
            <div id="datetime" th:text="'Besteld op: ' + ${soldItem.getOrder().formatLocalDateTime()}"></div>
            <div id="medication-name" th:text="${soldItem.getMedication().getName()}"></div>
            <div id="medication-description" th:text="${soldItem.getMedication().getDescription()}"></div>
            <div id="pharmacy-name"
                 th:if="${customer != null && customer.getUserName().equals(#authentication.name)}">
                <div th:text="'Apotheek: ' + ${soldItem.getPharmacy().getName()}"></div>
                <div class="amount" th:text="'Hoeveelheid: ' + ${soldItem.getAmount()}"></div>
                <div class="price" th:text="'€' + ${soldItem.getPrice()}"></div>
                <div class="status" th:text="${soldItem.getStatus().getName()}"></div>
            </div>
        </div>
    </div>
    <div id="product-grid">
        <div th:each="soldItem : ${soldItems}"
             th:if="${pharmacy != null && pharmacy.getUserName().equals(#authentication.name)}">
            <div id="product">
                <div th:text="${soldItem.getOrder().getId()}"></div>
                <img th:src="${soldItem.getMedication().getImage()}" class="medication-image"/>
                <div th:text="'Klant: ' + ${soldItem.getOrder().getCustomer().firstName + ' '
                + soldItem.getOrder().getCustomer().lastName}"></div>
                <div class="amount" th:text="'Hoeveelheid: ' + ${soldItem.getAmount()}"></div>
                <div class="price" th:text="'€' + ${soldItem.getPrice()}"></div>
                <div class="status" th:text="${soldItem.getStatus().getName()}"></div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/Fragments :: footer"></footer>
</body>
</html>