<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/Fragments :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}">
    <title>Pharmacy Registration</title>
</head>
<body>
<header th:replace="fragments/Fragments :: header"></header>
<main>
    <h1 class="registration-title">Registratie als apotheek:</h1>
    <form method="post" th:object="${user}" class="registration-form">
        <table>
            <tr>
                <td>
                    <label class="label" for="username">Gebruikersnaam</label>
                </td>
                <td>
                    <input type="text" id="username" th:field="*{userName}">
                    <p th:if="${usernameMessage}" th:text="${usernameMessage}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label" for="password">Wachtwoord</label>
                </td>
                <td>
                    <input id="password" type="password" th:field="*{password}">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label" for="cpassword">Bevestig wachtwoord</label>
                </td>
                <td>
                    <input id="cpassword" type="password" th:field="*{confirmPassword}">
                    <p th:if="${passwordMessage}" th:text="${passwordMessage}"></p>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label" for="name">Naam apotheek</label>
                </td>
                <td>
                    <input type="text" id="name" th:field="*{name}">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label" for="streetname">Straatnaam</label>
                </td>
                <td>
                    <input type="text" id="streetname" th:field="*{streetName}">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label" for="housenumber">Huisnummer</label>
                </td>
                <td>
                    <input type="text" id="housenumber" th:field="*{houseNumber}">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label" for="city">Gemeente</label>
                </td>
                <td>
                    <input type="text" id="city" th:field="*{city}">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label" for="zipcode">Postcode</label>
                </td>
                <td>
                    <input type="text" id="zipcode" th:field="*{zipCode}">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label" for="country">Land</label>
                </td>
                <td>
                    <input type="text" id="country" th:field="*{country}">
                </td>
            </tr>

        </table>
        <div class="submit-container">
            <input type="submit" value="Verzenden" class="registration-submission">
        </div>
    </form>
</main>
<footer th:replace="fragments/Fragments :: footer"></footer>
</body>
</html>