<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/Fragments :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/productDetail.css}">
    <title>Title</title>
</head>
<body>
    <header th:replace="fragments/Fragments :: header"></header>

    <main>
        <div th:object="${product}" id="detailed-product-container-wrapper">
            <div id="image-container">
                <img th:src="${product.image}" id="product-image">
            </div>
            <div>
                <h2 th:text="${product.getName()}" id="product-name"></h2>
                <p th:text="${product.description}" id="description"></p>
            </div>
            <div th:each="supply : ${suppliers}">
                <p th:text="${supply.pharmacy.name}"></p>
                <p th:text="${supply.stock}"></p>
                <p th:text="${supply.price}"></p>

                <form method="post">
                    <input type="hidden" th:value="${supply.getId()}" th:name="supplyId">
                    <input type="submit" value="Bestel" id="order-button" sec:authorize="hasAuthority('customer') or isAnonymous()">
                </form>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/Fragments :: footer"></footer>
</body>
</html>