#medication{
    display: flex;
    border: solid #0012ff;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: left;
    align-items: center;
    height: 10em;
    width: 50em;
    background-color: #0068ff;
    border-radius: .75em;
    text-decoration: none;
}

#medication-container{
    display: flex;
    align-items: center;
}

#medication a {
    display: flex;
    text-decoration: none;
    width: 45em;
    align-items: center;
}

.medication-image{
    height: 8em;
    width: 11em;
    padding-left: 1em;
    padding-right: 2em;
}

.name{
    font-size: larger;
    margin-bottom: .5em;
    color: white;
}

.description{
    font-size: small;
    color: white;
}

.price{
    display: flex;
    align-items: center;
    padding-right: 1em;
    color: white;
}

#amount-container{
    padding-right: 1em;
}
.cart-text{
    display: grid;
    width: 30em;
    padding-right: 1em;
}

.radio-container{
    display: block;
    position: relative;
    padding-left: 3em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 1.136em;
    width: 1.136em;
    background-color: #eee;
    border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
    background-color: #0012ff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 0.390em;
    left: 0.390em;
    width: 0.364em;
    height: 0.364em;
    border-radius: 50%;
    background: white;
}

#amount{
    width: 3em;
}

#cart-wrapper{
    background-color: #0068ff;
    border: solid #0012ff;
    border-radius: 0.75em;
    margin-left: 3em;
    height: max-content;
    margin-top: 5vh;
}

#cart-wrapper h1, label {
    color: white;
}

#form{
    display: flex;
    padding-top: 8vh;
}

#medication-container-wrapper{
    display: flex;
    flex-direction: column;
}

main {
    height: auto;
    background-color: #0099ff;
}

.sticky {
    position: sticky;
    top: 20vh;
}