.drop-button {
    cursor: pointer;
}

.drop-button:hover, .drop-button:focus {
}

.dropdown {
    position: relative;
    display: inline-block;
    /*float: left;*/
    margin-right: 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0068ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: white;
    display: block;
    text-align: end;
    margin: 0.3em 1em 0.3em 0.3em;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #0012ff;
    transform: scale(1.1);
}

.show {
    display:block;
}

/*#prescriptions {*/
/*    display: none;*/
/*}*/

/*#orders {*/
/*    display: none;*/
/*}*/
