#product-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0 3vw 0 3vw;
    column-gap: 1em;

}

main{
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0099ff;
}

#product-container-detail{
    display: flex;
    border: solid #0012ff;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #0068ff;
    border-radius: .75em;
    text-decoration: none;
    box-sizing: border-box;

}

#product-image{
    display: flex;
    padding-right: 2em;
}

img{
    height: 15vh;

}

#product-name{
    display: flex;
    align-items: center;
    color: white;
}

#redirect-to-order-page{
    text-decoration: none;
    display: flex;
}