#login-register{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #0068ff;
    color: black;
    border: 2px solid black;
}

#register{
    border-left: solid;
}
.radio-container{
    display: block;
    position: relative;
    padding-left: 3em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 1.136em;
    width: 1.136em;
    background-color: #eee;
    border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
    background-color: #0012ff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 0.409em;
    left: 0.409em;
    width: 0.364em;
    height: 0.364em;
    border-radius: 50%;
    background: white;
}

.user-type{
    padding-left: 0.5em;
}