*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 8vh;
}

nav{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    height: 8vh;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #0068ff;
    z-index: 100;
}

.a-links, #user {
    display: flex;
    color: white;
    font-size: 3vh;
    text-decoration: none;
    align-items: center;
}

#left-tabs a:hover, #right-tabs a:hover, #user:hover {
    color: #0012ff;
    transform: scale(1.1);
    transition-duration: .5s;
}

#bag{
    height: 3vh;
}

#right-tabs {
    display: flex;
    justify-items: center;
}

#right-tabs .a-links {
    margin-right: 1em;
}

#logo {
    width: 10vw;
    height: auto;
}

#home-button{
    margin-left: 1em;
}

.form{
    padding: 2.5em;
}

.label{
    font-size: 1em;
    font-weight: bold;
}

.submit-container{
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.form td{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
}

nav .search-button{
    float: right;
    padding: 0.273em 0.455em;
    margin-top: 0.364em;
    margin-right: 0.727em;
    background: #ddd;
    font-size: 1em;
    border: none;
    cursor: pointer;
    height: 2.5vw;
    width: 2.5vw;
    border-top-right-radius: 0.75em;
    border-bottom-right-radius: .75em;
}

#search {
    padding: 0.273em;
    margin-top: 0.364em;
    font-size: 1em;
    border: none;
    width: 60vw;
    height: 2.5vw;
    border-bottom-left-radius: .75em;
    border-top-left-radius: .75em;
}

#search-container {
    display: flex;
}

footer {
    flex-shrink: 0;
}

img {
    border-radius: .75em;
}