main {
    height: auto;
    background-color: #0099ff;
}

#order-header {
    color: white;
}

#order{
    display: flex;
    flex-direction: column;
    border: solid #0012ff;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 18%;
    width: 90vw;
    align-items: center;
    background-color: #0068ff;
    border-radius: .75em;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
}

#sold-item {
    display: flex;
}

.medication-image{
    max-width: 100%;
    width: 10%;
    margin: 1em;
    border-radius: .75em;
}

#product-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0 3vw 0 3vw;
    column-gap: 1em;
}

#product {
    display: flex;
    border: solid #0012ff;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #0068ff;
    border-radius: .75em;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
}