main{
    background-color: #0099ff;
}

#description{
    width: 50vh;
}

#order-button{
    size: 5em;
}

#detailed-product-container-wrapper {
    border: solid #0012ff;
    border-radius: .75em;
    background-color: #0068ff;
    color: white;
}

#product-name{
    display: flex;
    align-items: center;
    color: white;
}

#product-image{
    max-width: 100%;
    width: 80%;
    margin: 1em;
    border-radius: .75em;
}

#image-container {
    display: flex;
    justify-content: center;
}