main {
    display: flex;
    flex-direction: column;
    height: max-content;
    background-color: #0099ff;
}

#user-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0099ff;
}

#user-details {
    display: flex;
    align-items: center;
    justify-items: center;
}

#user-name {

}

#gamma {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#gamma-header {
    color: white;
}

.sticky {
    position: sticky;
    top: 8vh;
    border-bottom: 3px solid #0012ff;
    border-bottom-left-radius: .75em;
    border-bottom-right-radius: .75em;
}

#product-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0 3vw 0 3vw;
    column-gap: 1em;
}

#product-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#product {
    display: flex;
    border: solid #0012ff;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #0068ff;
    border-radius: .75em;
    text-decoration: none;
    box-sizing: border-box;
}

#medication-image {
    max-width: 100%;
    width: 30%;
    margin: 1em;
    border-radius: .75em;
}

.medication-items {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#medication-flex {
    display: flex;
}

.bold {
    font-weight: bold;
}