.registration-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.registration-form td{
    padding: 1em 2em;
}
.registration-title{
    padding-bottom: 1em;
}

.registration-submission{
    transform: scale(1.5);
}