<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/Fragments :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/products.css}">
    <title>Mijn profiel</title>
</head>
<body>
<header th:replace="fragments/Fragments :: header"></header>
<main>
    <div id="user-wrapper">
        <h1>Mijn gegevens</h1>
        <div id="user-details">
            <br/>
            <div id="user-name">
                <table>
                    <tr th:if="${pharmacy}">
                        <td>
                            <label for="name">Naam:</label>
                            <span id="name" class="bold" th:text="${pharmacy.name}"></span>
                        </td>
                    </tr>
                    <div th:if="${customer}">
                        <tr>
                            <td>
                                <label for="firstNameC">Voornaam:</label>
                                <span id="firstNameC" class="bold" th:text="${customer.firstName}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="lastNameC">Achternaam:</label>
                                <span id="lastNameC" class="bold" th:text="${customer.lastName}"></span>
                            </td>
                        </tr>
                    </div>
                    <div th:if="${doctor}">
                        <tr>
                            <td>
                                <label for="firstNameD">Voornaam:</label>
                                <span id="firstNameD" class="bold" th:text="${doctor.firstName}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="lastNameD">Achternaam:</label>
                                <span id="lastNameD" class="bold" th:text="${doctor.lastName}"></span>
                            </td>
                        </tr>
                    </div>
                </table>
            </div>

            <br/>
            <div id="user-address">
                <div th:unless="${doctor}">Adres:</div>
                <table>
                    <tr>
                        <td>
                            <label for="streetName">Straatnaam:</label>
                            <span id="streetName" th:text="${user.getStreetName()}" class="bold">Straat:</span>
                        </td>
                        <td>
                            <label for="houseNumber">Huisnummer:</label>
                            <span id="houseNumber" th:text="${user.getHouseNumber()}" class="bold">Huisnummer:</span>
                        </td>
                    <tr>
                        <td>
                            <label for="city">Stad:</label>
                            <span id="city" th:text="${user.getCity()}" class="bold">Stad:</span>
                        </td>
                        <td>
                            <label for="zipCode">Postcode:</label>
                            <span id="zipCode" th:text="${user.getZipCode()}" class="bold">Postcode:</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="country">Land:</label>
                            <span id="country" th:text="${user.getCountry()}" class="bold">Land:</span>
                        </td>
                    </tr>
                    </tr>
                </table>
            </div>

            <br/>
        </div>
    </div>

    <div id="gamma">
        <h1 th:if="${pharmacy}" id="gamma-header">Producten in de gamma:</h1>
        <br/>
        <div th:if="${pharmacy}" id="product-grid">
            <div th:each="supply : ${supplies}" id="product">
                <div id="product-container">
                    <div id="medication-flex">
                        <img th:src="${supply.medication.image}" id="medication-image"/>
                        <div class="medication-items">
                            <div class="bold" th:text="${supply.medication.name}">Productnaam</div>
                            <p>Apotheek: </p>
                            <span class="bold" th:text="${supply.pharmacy.getName()}"></span>
                        </div>
                        <div class="medication-items">
                            <div>
                                <span>Prijs: </span>
                                <span class="bold" th:text="'€' + ${supply.price}"></span>
                            </div>
                            <div>
                                <span>Stock: </span>
                                <span class="bold" th:text="${supply.stock} + ' stuks'"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/Fragments :: footer"></footer>
<script th:src="@{/js/stickyUserDetails.js}"></script>
</body>
</html>