<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/Fragments :: head"></th:block>
    <title>Prescriptions</title>
</head>
<body>
<header th:replace="fragments/Fragments :: header"></header>
<main>
    <h1>Mijn voorschriften</h1>
    <table th:if="${doctor}">
        <tr th:each="prescription : ${prescriptions}">
            <td>
                <div th:value="*{customer}"></div>
                <div th:each="product : ${prescription.medication}">
                    <div th:value="${product.name}"></div>
                    <div th:value="${product.description}"></div>
                    <div th:value="${product.image}"></div>
                </div>
                <div th:value="*{prescription.used}"></div>
            </td>
        </tr>
    </table>
    <table th:if="${customer}">
        <tr th:each="prescription : ${prescriptions}">
            <td>
                <div th:value="*{doctor}"></div>
                <div th:each="product : ${prescription.medication}">
                    <div th:value="${product.name}"></div>
                    <div th:value="${product.description}"></div>
                    <div th:value="${product.image}"></div>
                </div>
                <div th:value="*{prescription.used}"></div>
            </td>
        </tr>
    </table>
</main>
<footer th:replace="fragments/Fragments :: footer"></footer>
</body>
</html>