<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/Fragments :: head"></th:block>
    <title>PrescriptionForm</title>
</head>
<body>
<header th:replace="fragments/Fragments :: header"></header>
<main>
    <h2>Nieuw dokter voorschift maken</h2>
    <form method="post" >
        <h3>Patient gegevens:</h3>
        <table>
        <tr>
            <td>
                <label for="UserNamePatient">Gebruikersnaam:</label>
            </td>
            <td>
                <input type="text" id="UserNamePatient" name="userName">
            </td>
        </tr>
       <tr>
           <td>
               <label for="PrescriptedMedication">Toegeschreven medicijn</label>
           </td>
           <td>
               <input type="text" id="PrescriptedMedication" list="PrescriptionList" name="prescribedMedicine">
               <datalist id="PrescriptionList" >
                   <option th:each="medication : ${medicationList}" th:text="${medication.name}" th:value="${medication.id}"></option>
               </datalist>
           </td>
       </tr>

        </table>
        <input type="submit" value="Verzenden">
    </form>

</main>
<footer th:replace="fragments/Fragments :: footer"></footer>
</body>
</html>