<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/Fragments :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <title>Login</title>
</head>
<body>
<header th:replace="fragments/Fragments :: header"></header>
    <main id="main">
       <div id="login-register">
        <form method="post" class="form">
            <h1>Aanmelden</h1>
            <br/>
            <table>
                <tr>
                    <td>
                        <label for="username" class="label">Gebruikersnaam</label>
                    </td>
                    <td>
                        <input id="username" name="username" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password" class="label">Wachtwoord</label>
                    </td>
                    <td>
                        <input id="password" name="password" type="password">
                    </td>
                </tr>
            </table>
            <div class="submit-container">
                <input type="submit" value="Aanmelden" class="registration-submission">
            </div>

        </form>

        <form method="post" class="form" id="register" th:action="@{/register}">
            <h1>Registreer als:</h1>
            <div>
                <table>
                    <tr>
                        <td>
                            <label for="klant" class="label radio-container">Klant
                                <input type="radio" id="klant" name="user" value="Klant">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                </tr>
                    <tr>
                        <td>
                            <label for="apotheker" class="label radio-container">Apotheker
                                <input type="radio" id="apotheker" name="user" value="Apotheker">
                                <span class="checkmark"></span>
                            </label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label for="dokter" class="label radio-container">Dokter
                                <input type="radio" id="dokter" name="user" value="Dokter">
                                <span class="checkmark"></span></label>
                        </td>

                    </tr>
                </table>

            </div>
            <div class="submit-container">
                <input type="submit" value="Registreer" class="registration-submission">
            </div>
        </form>
       </div>
    </main>
    <footer th:replace="fragments/Fragments :: footer"></footer>
</body>
</html>