<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/Fragments :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}">
    <title>Cart</title>
</head>
<body>
<header th:replace="fragments/Fragments :: header"></header>
<main th:onload="'checkPrescription(' + ${isOrderCreated} + ')'" id="main">
    <div>
        <form method="post" id="form">

            <div id="medication-container-wrapper">
                <div th:each="supply , status : ${cart}" id="medication-container">

                    <input type="checkbox" id="selection" name="selection" th:value="${status.index}">
                    <div id="medication">
                        <a th:href="@{productDetail(medicationId = ${supply.medication.id})}" >
                            <img th:src="${supply.medication.image}" class="medication-image">

                            <div class="cart-text">
                                <p th:text="${supply.medication.name}" class="name"></p>
                                <p th:text="${supply.medication.description}" class="description"></p>
                            </div>
                        </a>
                        <div id="amount-container">
                            <input type="number" name="amount" id="amount" value="1">
                        </div>


                        <div class="price">
                            €<span id="price" th:text="${supply.price}"></span>/st.
                        </div>
                    </div>
                </div>
            </div>
            <div id="cart-wrapper">
                <h1>Jouw winkelmandje:</h1>
                <label for="opmerking" id="opmerking">Opmerking
                    <input type="text" name="remark">
                </label>

                <label for="leveren" class="label radio-container" onclick="hideDate()">Leveren
                    <input type="radio" id="leveren" name="delivery" value="leveren" checked>
                    <span class="checkmark"></span>
                </label>
                <label for="afhalen" class="label radio-container" onclick="showDate()">Afhalen
                    <input type="radio" id="afhalen" name="delivery" value="afhalen">
                    <span class="checkmark"></span>
                </label>

                <p id="date">Datum van afhaling:
                    <input type="date" name="pickupDate" th:value="${localDate}">
                </p>
                <br/>
                <input type="submit" value="Bestel selectie">
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/Fragments :: footer"></footer>
<script th:src="@{/js/cart.js}"></script>
</body>
</html>