<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dropdown.css}">
    <script src="https://kit.fontawesome.com/e6fe33520b.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/dropdown.js}"></script>
    <script th:src="@{/js/searchbar.js}"></script>
    <title>Astra Sveneca</title>
</head>
<body>
<header th:fragment="header">
    <nav>
        <div id="left-tabs">
            <div id="home-button">
                <a th:href="@{/}" class="a-links"><img src="/img/logo/AstraSvenecaLogo.png" id="logo" alt="Astra Sveneca"></a>
            </div>
        </div>

        <div id="search-container">
            <form th:action="@{/productDetail}"  id="detailForm" onsubmit="return false">
            <input type="text" placeholder="Waar ben je naar op zoek?" name="medicationId" id="search" list="searchBar">
            <datalist id="searchBar">
                <option th:label="${medication.name}" th:each="medication : ${medicationList}"  th:attr="changeValue=${medication.id}" id="changeValue" th:value="${medication.name}"></option>
<!--                <span hidden th:each="medication : ${medicationList}" th:attr="changeValueToId" id="changeValueToId" th:value="${medication.id}"></span>-->
            </datalist>
            <button type="submit" name="submit" onclick="searchBalk()" class="search-button"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <div id="right-tabs">
            <a th:href="@{/cart}" sec:authorize="hasAuthority('customer') or isAnonymous()" class="a-links"><i class="fas fa-cart-plus" id="bag"></i></a>
            <a sec:authorize="isAnonymous()" th:href="@{/login}" class="a-links">Inloggen</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="a-links">Uitloggen</a>
            <div class="dropdown" sec:authorize="isAuthenticated()" onclick="myFunction()">
                <div id="user" sec:authentication="name" class="drop-button"></div>
                <div class="dropdown-content" id="myDropdown">
                    <a th:href="@{/profile}">Mijn gegevens</a>
                    <a th:href="@{/orders}" sec:authorize="hasAuthority('pharmacy') or hasAuthority('customer')"
                       id="orders">Mijn bestellingen</a>
                    <a th:href="@{/prescriptions}" sec:authorize="hasAuthority('doctor') or hasAuthority('customer')"
                       id="prescriptions">Mijn voorschriften</a>
                    <a th:href="@{/prescriptionForm}" sec:authorize="hasAuthority('doctor')">Nieuw voorschrift schrijven</a>
                </div>
            </div>
        </div>
    </nav>

</header>

<footer th:fragment="footer">

</footer>

</body>
</html>